@model EbtakrAlmanalntro.Data.TableDb.IntroductorySite.IntroSetting
@using EbtakrAlmanalntro.Helper;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box" style="padding: 80px 20px 40px;">

    <h2 class="header-title m-t-0 m-b-30" style="text-align:center">تعديل</h2>
    <form enctype="multipart/form-data" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="LogoImg" class="control-label">صورة الشعار القديمة</label>
                <img src="@HelperMethods.BaisUrlHoste@Model.LogoImg" style="width: 100px ; height:100px; " />
            </div>
            <div class="form-group">
                <label for="LogoImgFormFile" class="control-label">  تعديل صورة الشعار  </label>
                <input id="LogoImgFormFile" name="LogoImgFormFile" type="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IntroAr" class="control-label">المقدمة  </label>
            <input asp-for="IntroAr" class="form-control" />
            <span asp-validation-for="IntroAr" class="text-danger"></span>
        </div>
@*         <div class="form-group">
            <label asp-for="IntroEn" class="control-label">المقدمة بالانجليزية</label>
            <input asp-for="IntroEn" class="form-control" />
            <span asp-validation-for="IntroEn" class="text-danger"></span>
        </div>
 *@        <div class="form-group">
            <label asp-for="DescriptionAr" class="control-label">الوصف  </label>
            <input asp-for="DescriptionAr" class="form-control" />
            <span asp-validation-for="DescriptionAr" class="text-danger"></span>
        </div>
      @*   <div class="form-group">
            <label asp-for="DescriptionEn" class="control-label">الوصف بالانجليزية</label>
            <input asp-for="DescriptionEn" class="form-control" />
            <span asp-validation-for="DescriptionEn" class="text-danger"></span>
        </div> *@


        @*<div class="form-group">
            <label asp-for="Img" class="control-label">الصورة القديمة</label>
            <input asp-for="Img" class="form-control" />
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>*@


        <div class="form-group">
            <label asp-for="GooglePlayUrl" class="control-label">رابط التطبيق فى جوجل</label>
            <input asp-for="GooglePlayUrl" class="form-control" />
            <span asp-validation-for="GooglePlayUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AppleStoreUrl" class="control-label">رابط التطبيق فى آبل</label>
            <input asp-for="AppleStoreUrl" class="form-control" />
            <span asp-validation-for="AppleStoreUrl" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="IntroImg1" class="control-label">صورة المقدمة القديمة</label>
                <img src="@HelperMethods.BaisUrlHoste@Model.IntroImg1" style="width: 100px ; height:100px; " />
            </div>
            <div class="form-group">
                <label for="IntroImg1FormFile" class="control-label">  تعديل صورة المقدمة  </label>
                <input id="IntroImg1FormFile" name="IntroImg1FormFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="IntroImg2" class="control-label">صورة المقدمة القديمة</label>
                <img src="@HelperMethods.BaisUrlHoste@Model.IntroImg2" style="width: 100px ; height:100px; " />
            </div>
            <div class="form-group">
                <label for="IntroImg2FormFile" class="control-label">  تعديل صورة المقدمة  </label>
                <input id="IntroImg2FormFile" name="IntroImg2FormFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AboutAppAr" class="control-label">عن التطبيق  </label>
            <input asp-for="AboutAppAr" class="form-control" />
            <span asp-validation-for="AboutAppAr" class="text-danger"></span>
        </div>
   @*      <div class="form-group">
            <label asp-for="AboutAppEn" class="control-label">عن التطبيق بالانجليزية</label>
            <input asp-for="AboutAppEn" class="form-control" />
            <span asp-validation-for="AboutAppEn" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <label asp-for="AboutDescrioptionAr" class="control-label">الوصف الخاص بالتطبيق  </label>
            <input asp-for="AboutDescrioptionAr" class="form-control" />
            <span asp-validation-for="AboutDescrioptionAr" class="text-danger"></span>
        </div>
   @*      <div class="form-group">
            <label asp-for="AboutDescrioptionEn" class="control-label">الوصف الخاص بالتطبيق بالانجليزية</label>
            <input asp-for="AboutDescrioptionEn" class="form-control" />
            <span asp-validation-for="AboutDescrioptionEn" class="text-danger"></span>
        </div> *@
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AboutAppImg" class="control-label">صورة عن التطبيق القديمة</label>
                <img src="@HelperMethods.BaisUrlHoste@Model.AboutAppImg" style="width: 100px ; height:100px; " />
            </div>
            <div class="form-group">
                <label for="AboutAppImgFormFile" class="control-label">  تعديل صورة عن التطبيق  </label>
                <input id="AboutAppImgFormFile" name="AboutAppImgFormFile" type="file" class="form-control" />
            </div>
        </div>




        <div class="form-group text-center">
            <label asp-for="IsHiddenIntroVideo" class="control-label d-block">اخفاء الفيديو</label>
            <input type="checkbox" asp-for="IsHiddenIntroVideo" style="width: 50px; height: 50px" />
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label">الفيديو التعريفي القديم</label>
                <img src="@HelperMethods.BaisUrlHoste@Model.VideoUrl" style="width: 100px ; height:100px; " />
            </div>
            <div class="form-group">
                <label for="VideoUrlFormFile" class="control-label">  تعديل الفيديو التعريفي</label>
                <input id="VideoUrlFormFile" name="VideoUrlFormFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FooterDescriptionAr" class="control-label">الوصف فى الفوتر  </label>
            <input asp-for="FooterDescriptionAr" class="form-control" />
            <span asp-validation-for="FooterDescriptionAr" class="text-danger"></span>
        </div>
  @*       <div class="form-group">
            <label asp-for="FooterDescriptionEn" class="control-label">الوصف فى الفوتر بالانجليزية</label>
            <input asp-for="FooterDescriptionEn" class="form-control" />
            <span asp-validation-for="FooterDescriptionEn" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <label asp-for="Address" class="control-label">العنوان</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label">رقم الهاتف</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">الميل</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CommercialRegistrationNo" class="control-label">رقم السجل التجارى</label>
            <input asp-for="CommercialRegistrationNo" class="form-control" />
            <span asp-validation-for="CommercialRegistrationNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TaxNumber" class="control-label">الرقم الضريبي</label>
            <input asp-for="TaxNumber" class="form-control" />
            <span asp-validation-for="TaxNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="licenseNumber" class="control-label">رقم الترخيص</label>
            <input asp-for="licenseNumber" class="form-control" />
            <span asp-validation-for="licenseNumber" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label asp-for="licenseside" class="control-label">الجهه المانحه للترخيص</label>
            <input asp-for="licenseside" class="form-control" />
            <span asp-validation-for="licenseside" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="licenseExpiryDate" class="control-label">تاريخ انتهاء الترخيص </label>
            <input asp-for="licenseExpiryDate" class="form-control" />
            <span asp-validation-for="licenseExpiryDate" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="PrivacyPolicyAr" class="control-label">الخصوصية  </label>
            <textarea asp-for="PrivacyPolicyAr" class="form-control"></textarea>
            <span asp-validation-for="PrivacyPolicyAr" class="text-danger"></span>
        </div>
@* 
        <div class="form-group">
            <label asp-for="PrivacyPolicyEn" class="control-label">الخصوصية بالانجليزية</label>
            <textarea asp-for="PrivacyPolicyEn" class="form-control"></textarea>
            <span asp-validation-for="PrivacyPolicyEn" class="text-danger"></span>
        </div>
 *@

        <div class="form-group">
            <label asp-for="TermsOfUsersAr" class="control-label"> شروط الاستخدام  </label>
            <textarea asp-for="TermsOfUsersAr" class="form-control"></textarea>
            <span asp-validation-for="TermsOfUsersAr" class="text-danger"></span>
        </div>

    @*     <div class="form-group">
            <label asp-for="TermsOfUsersEn" class="control-label"> شروط الاستخدام بالانجليزية</label>
            <textarea asp-for="TermsOfUsersEn" class="form-control"></textarea>
            <span asp-validation-for="TermsOfUsersEn" class="text-danger"></span>
        </div> *@

        @*<div class="form-group">
            <label asp-for="FaceBook" class="control-label">الفيس بوك</label>
            <input asp-for="FaceBook" class="form-control" />
            <span asp-validation-for="FaceBook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Twitter" class="control-label">تويتر</label>
            <input asp-for="Twitter" class="form-control" />
            <span asp-validation-for="Twitter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Instagram" class="control-label">انستجرام</label>
            <input asp-for="Instagram" class="form-control" />
            <span asp-validation-for="Instagram" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gmail" class="control-label">الجميل</label>
            <input asp-for="Gmail" class="form-control" />
            <span asp-validation-for="Gmail" class="text-danger"></span>
        </div>*@
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn-new-style btn-rounded" />
            </div>
        </div>
    </form>


</div>



@section Scripts{


    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('PrivacyPolicyAr');
            CKEDITOR.replace('PrivacyPolicyEn');
            CKEDITOR.replace('TermsOfUsersAr');
            CKEDITOR.replace('TermsOfUsersEn');

        });
    </script>

}